[include]
    path = .gitconfig.local
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    editor = vim
[merge]
    ff = false
[pull]
    rebase = true
[alias]
    co = checkout
    cm = commit
    st = status
    br = branch
    sh = stash
    lg = log --pretty=format:'%h -%an ,%ad> %s' --graph --decorate --branches --date=iso --abbrev-commit 
    lgs = log --graph --decorate --pretty=format:\"%ad [%cn] %h> %n %Cgreen%d%Creset %s %n\" --name-status
    pr = !hub browse $(git config remote.origin.url | sed -e 's/^.*://' -e 's/.git//') pull/$(git rev-parse --abbrev-ref HEAD)
    byme = !hub browse -- issues/created_by/$(git config user.username) && hub browse -- pulls/$(git config user.username)
    see = !hub browse -- pull/$(git symbolic-ref --short HEAD)
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[merge "mergepbx"]
    name = Xcode project files merger
    driver = mergepbx %O %A %B
[user]
    username = dex1t
    name = dex1t
    email = dex1t@deg.ooo
[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rebase]
	autosquash = true
