[include]
    path = .gitconfig.local
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    editor = vim
[merge]
    ff = false
[pull]
    rebase = true
[alias]
    co = checkout
    cm = commit
    st = status
    br = branch
    sh = stash
    lg = log --pretty=format:'%h -%an ,%ad> %s' --graph --decorate --branches --date=iso --abbrev-commit 
    lgs = log --graph --decorate --pretty=format:\"%ad [%cn] %h> %n %Cgreen%d%Creset %s %n\" --name-status
    see = browse
    cafe = browse takaya-deguchi/community
    ios = browse takaya-deguchi/cafe-ios
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[merge "mergepbx"]
    name = Xcode project files merger
    driver = mergepbx %O %A %B

